/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(image.jpg);
}

.navbar {
    padding: 0.1rem 0.3rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    padding: 5px 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #f4f4f4;
    color: #000;
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    border-radius: 8px;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

#services, #about, #contact {
    padding: 2rem 0;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
